@model List<DoanNgocThuan103.Models.ItemGioHang>
@{
    ViewBag.Title = "XoaToanBoGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
@if (Model == null || Model.Count == 0)
{
    <h1 style="color: #000;">Giỏ hàng rổng!</h1>
}


